# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/

# Database
*.db
*.sqlite
*.sqlite3
backup/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# Sample data
sample-data/book-log.csv